<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/css/base/reset.css" />
    <link rel="stylesheet" href="../styles/css/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="footer-container">
        <div class="footer-links">
          <div class="footer-item">
            <h3>Sweet Delights</h3>
            <p>
              Crafting exceptional pastries since 1985. Made with love, served
              with pride.
            </p>
            <div class="social-icons">
              <div class="social fb"></div>
              <div class="social inst"></div>
              <div class="social twit"></div>
            </div>
          </div>
          <!-- footeritem -->
          <div class="footer-item">
            <h2>Quick Links</h2>
            <nav aria-label="Footer navigation">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pastries</a></li>
                <li><a href="#">Cakes</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </nav>
          </div>
          <!-- footeritem -->
          <div class="footer-item">
            <h2>Contact Info</h2>
            <div class="contact-cont">
              <div>
                <img src="../img/svg/telephone.svg" alt="telephone" />
                (555) 123-4567
              </div>
              <div id="mail">
                <img src="../img/svg/mail.svg" alt="telephone" />
                info@sweetdelights.<br class="break" />com
              </div>
              <div class="address">
                <div>
                  <img
                    class="loc"
                    src="../img/svg/location.svg"
                    alt="telephone"
                  />
                  123 Baker Street,
                </div>
                <span>City</span>
              </div>
            </div>
          </div>
          <!-- footeritem -->
          <div class="footer-item">
            <h2>Store Hours</h2>
            <div class="contact-cont">
              <div>Monday - Friday: 6AM - 8PM</div>
              <div>Saturday: 7AM - 9PM</div>
              <div>Sunday: 8AM - 6PM</div>
            </div>
          </div>
        </div>
        <p id="footer-rights">© 2024 Sweet Delights. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
