<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/css/base/reset.css" />
    <link rel="stylesheet" href="../styles/css/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-content">
        <h2>Sweet Delights</h2>
        <nav aria-label="Main navigation">
          <ul>
            <li><a href="../index.html" target="_parent">Home</a></li>
            <li>
              <a href="../pages/pastries.html" target="_parent">Pastries</a>
            </li>
            <li><a href="../pages/item.html " target="_parent">Cakes</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>

        <div class="header-order">
          <!-- <img src="../img/svg/search.svg" alt="search icon" />
          <img src="../img/svg/cart.svg" alt="cart icon" /> -->
          <div>
            <div id="search-icon"></div>
            <div id="cart-icon"></div>
          </div>
          <button>Order <span>Now</span></button>
          <div class="num">3</div>
        </div>
      </div>
    </header>
  </body>
</html>
