//colors

//font-colors
$font-gray-63: #4b5563;
$font-gray-51: #374151;
$font-gray-db: #d1d5db;
$font-black: #000000;
$font-breadcrumb: #6b7280;

//base both font and backgorund
$base-brown: #8b4513;
$base-white: #ffffff;
//background
$bg-hero: #d1d5db;
$bg-offer: #fffffff2;
$bg-yellow-gradient: linear-gradient(90deg, #d4af37 0%, #facc15 100%);
$bg-skin: #fff8f0;
$bg-pink-gradient: linear-gradient(90deg, #ffe5d4 0%, #fff8f0 100%);
$circle-yellow: #d4af37;
$bg-gray-ef: #efefef;
$bg-red: #ef4444;
//hovers
$hover-brown: rgba(139, 69, 19, 90%);
$hover-yellow: #d4af37;

//border
$border: #e5e7eb;
