@use "common/variables" as *;
@use "common/fonts" as *;
@use "common/mixins" as *;

.frame {
  max-width: 144rem;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);

  .header-frame {
    @include header-frame;
  }

  .hero {
    max-width: 144rem;
    width: 100%;
    height: auto;
    @include flex-row;
    align-items: center;
    justify-content: center;
    min-height: 60rem;
    background: $bg-pink-gradient;

    .hero-container {
      max-width: 128rem;
      width: 100%;
      @include flex-row;
      gap: 4.8rem;
      padding: 0 3.2rem;
      align-items: center;

      .hero-description {
        width: 100%;
        max-width: 58.4rem;
        height: auto;
        @include flex-column;
        gap: 2.4rem;

        h2 {
          @include playfair(700, 6rem, 6rem, $base-brown);
          width: 100%;
        }

        p {
          @include inter(400, 2rem, 3.25rem, $font-gray-51, 0.03rem);
          width: 100%;
        }

        .hero-buttons {
          width: 100%;
          @include flex-row;
          justify-content: flex-start;
          gap: 1.7rem;

          a:first-child {
            text-decoration: none;
            button {
              @include brown-button($height: 5.2rem);
            }
          }

          button:last-child {
            @include clear-button($height: 5.2rem);
          }
        }
      }

      .hero-img {
        width: 100%;
        max-width: 58.4rem;
        height: 38.4rem;
        border-radius: 0.8rem;
        box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 25%);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0.8rem;
        }
      }
    }
  }

  .categories {
    background: $base-white;
    max-width: 144rem;
    width: 100%;
    height: auto;
    padding: 6.4rem 8rem;
    @include flex-row;
    align-items: center;
    justify-content: center;

    .categories-container {
      width: 100%;
      max-width: 128rem;
      height: auto;
      padding: 0 3.2rem;
      gap: 4.8rem;
      @include flex-column;

      .categories-header {
        max-width: 121.6rem;
        width: 100%;
        @include flex-column;
        gap: 1.6rem;
        align-items: center;
        justify-content: center;

        h2 {
          @include common-h;
        }
        p {
          @include inter(400, 2rem, 2.8rem, $font-gray-63, 0.02rem);
        }
      }

      .categories-items {
        width: 100%;
        max-width: 121.6rem;
        @include flex-row;
        gap: 3.2rem;

        .cat-item {
          @include categories-card;
        }
      }
    }
  }

  .offer {
    width: 100%;
    max-width: 144rem;
    height: auto;
    padding: 6.4rem 11.2rem;
    background: $bg-yellow-gradient;

    .offer-container {
      box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 10%),
        0px 8px 10px -6px rgba(0, 0, 0, 10%);
      width: 100%;
      max-width: 121.6rem;
      height: auto;
      border-radius: 0.8rem;
      padding: 4.8rem;
      background: $bg-offer;
      @include flex-column;
      gap: 1.6rem;
      align-items: center;

      h2 {
        @include common-h;
      }
      p {
        @include inter(400, 2.4rem, 3.2rem, $font-gray-51, 0.05rem);
      }
      span {
        @include inter(400, 1.8rem, 2.8rem, $font-gray-63, 0.018rem);
        padding: 0.8rem 0 1.6rem 0;
      }
      button {
        @include brown-button(
          $width: 16.3rem,
          $height: 6rem,
          $font-size: 1.8rem
        );
      }
    }
  }

  .pastries {
    width: 100%;
    max-width: 144rem;
    height: auto;
    padding: 6.4rem 8rem;
    background: $base-white;

    .pastries-container {
      width: 100%;
      max-width: 128rem;
      height: auto;
      padding: 0 3.2rem;
      @include flex-column;
      gap: 4.8rem;

      .pastries-header {
        width: 100%;
        @include flex-column;
        gap: 1.6rem;
        text-align: center;

        h2 {
          @include common-h;
        }
        p {
          @include inter(400, 2rem, 2.8rem, $font-gray-63, 0.02rem);
        }
      }

      .pastries-items {
        width: 100%;
        max-width: 121.6rem;
        height: auto;
        @include flex-row;
        gap: 3.2rem;

        .past-item {
          @include pastrie-card;
        }
      }
    }
  }

  .reviews {
    width: 100%;
    max-width: 144rem;
    padding: 6.4rem 8rem;
    background: $bg-skin;

    .reviews-container {
      width: 100%;
      max-width: 128rem;
      padding: 0 3.2rem;
      @include flex-column;
      gap: 4.8rem;
      align-items: center;

      h2 {
        @include common-h;
      }

      .reviews-items {
        width: 100%;
        max-width: 121.6rem;
        @include flex-row;
        gap: 3.2rem;

        .rev-item {
          @include review-card;
        }
      }
    }
  }
}

.footer-frame {
  @include footer-frame;
}

// resolutions
@media (min-width: 1441px) and (max-width: 1920px) {
  .frame {
    max-width: 192rem;

    .header-frame,
    .hero,
    .categories,
    .offer,
    .pastries,
    .reviews {
      max-width: 192rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hero .hero-container,
    .categories .categories-container,
    .offer .offer-container,
    .pastries .pastries-container,
    .reviews .reviews-container {
      max-width: 172rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .categories .categories-container .categories-items,
    .pastries .pastries-container .pastries-items,
    .reviews .reviews-container .reviews-items {
      max-width: 160rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .footer-frame {
    max-width: 192rem;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .frame {
    .categories {
      padding: 6.4rem 0;
    }
    .offer {
      padding: 6.4rem 3.2rem;
    }
    .pastries {
      padding: 6.4rem 0;
    }
    .reviews {
      padding: 6.4rem 0;
    }
  }
}
@media (max-width: 1000px) {
  .frame {
    .pastries {
      .pastries-container {
        padding: 0 2.4rem;
        .pastries-items {
          flex-wrap: wrap;
          .past-item {
            max-width: 36rem;
          }
        }
      }
    }
    .reviews {
      .reviews-container {
        padding: 0 2.4rem;
        .reviews-items {
          .rev-item {
            max-width: 22.933rem;
            gap: 1.2rem;
            .person {
              .name-stars {
                .stars {
                  flex-wrap: wrap;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .frame {
    .hero {
      .hero-container {
        flex-direction: column;
        padding: 0 2.4rem;
        .hero-description {
          max-width: 75.2rem;
          h2 {
            font-size: 4.8rem;
          }
        }
        .hero-img {
          max-width: 75.2rem;
          height: 30rem;
        }
      }
    }
    .categories {
      .categories-container {
        padding: 0 2.4rem;
        .categories-items {
          flex-wrap: wrap;
          .cat-item {
            max-width: 36rem;
          }
        }
      }
    }
    .offer {
      padding: 6.4rem 2.4rem;
    }

  }
}
@media (max-width: 650px) {
  .frame {
    .reviews {
      .reviews-container {
        .reviews-items {
          flex-direction: column;
          .rev-item {
            max-width: 75rem;
          }
        }
      }
    }
    .footer-frame {
      min-height: 84.1rem;
    }
  }
}
@media (max-width: 450px) {
  .frame {
    .hero {
      .hero-container {
        padding: 0 1.65rem;
        padding-bottom: 2rem;
        max-height: 60rem;
        gap: 2rem;
        .hero-img {
          height: 22rem;
        }
      }
    }
    .categories {
      .categories-container {
        padding: 0 1.6rem;
        .categories-items {
          flex-wrap: wrap;
          .cat-item {
            max-width: 41.8rem;
          }
        }
      }
    }
    .offer {
      padding: 6.4rem 1.6rem;
      text-align: center;
    }
    .pastries {
      .pastries-container {
        padding: 0 1.6rem;
        .pastries-items {
          .past-item {
            max-width: 41.8rem;
          }
        }
      }
    }
    .reviews {
      .reviews-container {
        padding: 0 1.6rem;
        .reviews-items {
          flex-direction: column;
          .rev-item {
            max-width: 41.8rem;
            gap: 1.6rem;
          }
        }
      }
    }
  }
}
@media (max-width: 440px) {
  .frame {
    .hero {
      .hero-container {
        max-height: 80rem;
      }
    }
  }
}
